.header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.home:hover{
  font-size: 20px;
}

.icon{
position: absolute;
background-color: wheat;
border-radius: 25px;
padding: 4px;
font-size: 18px;
right: -38px;

 
}
.logo {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 40px;
  position: relative;

}

.booksoption {
  position: absolute;
  height: 17px;
  width: 10px;
  left: 74px;
  top: 2px;
}

.drop {
  position: absolute;
  top: -2px;
  left: 0px;
  height: 4px;

}

.Categories {
  position: relative;
  
}

.Categories:hover{
  cursor: pointer;
 font-size: 20px;
 .booksoption{
  left: 88px;
 }
}

.categorieslist ul {
  position: absolute;
  list-style: none;
  z-index: 300;
  left: 0;
  top: 36px;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;
line-height: 35px;
opacity: 0.9;
white-space: nowrap;


}

.about {
  margin-left: 19px;
}

.about:hover{
  font-size: 20px;
}

.categorieslist {
  
  opacity: 0;
  visibility: hidden;
}

.categorieslist.show {
  opacity: 1;
  visibility: visible;
}

.contact{
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  white-space: nowrap;
  margin-top: 200px;
}

.cont:hover{
  font-size: 20px;
}

.mail, .address{
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

